{
    "require": [
        "ts-node/register"
    ],
    "extension": [
        ".ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "reporter": [
        "text-summary"
    ],
    "all": true,
    "cache": false
}
